/* common */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #444851;
}

.width-100 {
    width: 100%;
}

.width-60 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.fontwght-500 {
    font-weight: 500;
}

.fontwght-700 {
    font-weight: 700;
}

.bg-grey {
    background-color: #F6F8F9;
}

.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: #47ADF1;
}

.bg-violet {
    background-color: #9C72E4;
}

.bg-orange {
    background-color: #F29E33;
}

.bg-green {
    background-color: #6CC4AF;
}

.bg-pink {
    background-color: #D863A1;
}

.bg-acidgreen {
    background-color: #B0C926;
}

.color-white {
    color: white;
}

.color-grey {
    color: #C5CBD0;
}

.color-red {
    color: #EB5851;
}
.color-green {
    color: #6CC4AF;
}

.box-white {
    background-color: white;
    margin-bottom: 3px
}

.v-aligned {
    vertical-align: middle;
}

/* header */

header {
    height: 70px;
    line-height: 70px;
}

#logotype {
    font-size: 40px;
    display: inline-block;
}

/* main container */

.container {
    padding: 35px 0px;
}

/* top bar */

nav {
    line-height: 60px;
    padding: 0px 60px;
    border-radius: 5px 5px 2px 2px;
}

.button {
    font-weight: 500;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid;
}

.no-border {
    border: 0px;
}

/* main - tasks */

main {
    padding: 0px 60px;
    border-radius: 2px 2px 5px 5px;
}

/* task sections */

.task-section {
    margin-bottom: 20px;
}

h3 {
    padding-top: 10px;
}

.task {
    line-height: 26px;
    margin: 10px 0px;
}

.category-badge {
    display: inline-block;
    vertical-align: middle; 
    margin-left: 10px;
    padding: 0px 10px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: white;
}

.task-status {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid;
    margin-right: 10px;
    text-align: center;
    font-weight: 700;
}

